@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Shadows Into Light Two', cursive;
}
.wallet-adapter-dropdown-list {
  z-index: 20 !important; /* menor que tu dashboard */
  margin-top: 10px !important; /* separa del botón */
}

.wallet-adapter-dropdown {
  position: relative !important;
}
