.wallet-adapter-dropdown,
.wallet-adapter-dropdown-list {
  position: relative !important;
  z-index: 999999 !important;
}

.wallet-adapter-button,
.wallet-adapter-button-trigger {
  z-index: 999999 !important;
}

.wallet-adapter-modal {
  z-index: 999999 !important;
}
